.App {
  max-width: 50px;
}

.App-box {
  margin-top: 50px;
  margin-left: 26%;
  margin-right: 26%;
  text-align: center;
  border-style: double;
  border-width: 6px;
  border-color: rgba(255,255,255,0.3);
}

.main-nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgba(255,255,255,0.3);
}

.nav-link {
  padding: 14px 16px;
  text-decoration: none;
  color: rgba(0,0,0,0.8);
}

.nav-link:hover {
  background-color: rgba(255,255,255,0.2);
  -moz-transition: background-color .3s ease-out;
  -webkit-transition: background-color .3s ease-out;

}

.slider-div {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 1em;
}

/* default body background color :) */
body {
  background-color: #A3A3DE;
}

p, h1, h3 {
  color: rgba(0,0,0,0.8);
}

p {
  line-height: 0.6cm;
}

.wlink {
  font-weight: bold;
  text-decoration: none;
}

.wlink:visited {
  color: rgba(0,0,0,0.8);
}
.wlink:hover {
  color: rgba(0,0,0,0.6);
  -moz-transition: color .3s ease-out;
  -webkit-transition: color .3s ease-out;
}

.info {
  text-align: left;
}

.info-wrapper {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom:2em;
}

.slider {
  padding-bottom:2em;
}

@media screen and (max-width: 1000px) {
  .App-box {
    margin-left: 18%;
    margin-right: 18%;
  }
}

@media screen and (max-width: 600px) {
  .App-box {
    margin-left: 5px;
    margin-right: 5px;
  }
}


